@charset "UTF-8";
/* Typical Device Breakpoints
pequenas telas = ate 600 px
celular = de 600px ate 768 px
tablet = 768px ate 992 px
desktop = 992px ate 1200px
grandes telas = acimade 1200 px
*/

@media screen and (min-width: 768px){
    i#burguer {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}