@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.caixa1 {
    background-color: aqua;
    grid-area: 1/1/2/5;
}

.caixa2 {
    background-color: bisque;
    grid-area: 2/1/span2/3;
}

.caixa3 {
    background-color: burlywood;
    grid-area: 2/3/4/5
}