@charset "UTF-8";

/* Typical Device Breakpoints
pequenas telas = ate 600 px
celular = de 600px ate 768 px
tablet = 768px ate 992 px
desktop = 992px ate 1200px
grandes telas = acimade 1200 px
*/


@media print {
    *{
         font-family: 'Courier New', Courier, monospace;
    }
       
    body {
        background-image: url(../imagens/back-print.jpg); /* desnecessario porque nao imprimi */       
        text-shadow: none;
        color: black;
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }
    main::after {
        content: 'esta impresão foi feita através do site criado por Ana Paula Garcia';
        text-decoration: overline;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone { display: none;}
    img#tablet { display: block;}
    img#print { display: none;}
    img#pc { display: none; }
    img#tv {display: none;}
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: block; }
    img#tv {display: none;}
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: none; }
    img#tv {display: block;}
}