@charset "UTF=8";

body{
background-color: bisque;
font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: blue;
}

#principal{
    text-align: center;
    background-color: rgb(17, 0, 255);
    color: white;
}
h2{
    color: rgb(25, 25, 85)
}

.basico{
    color: rgb(149, 149, 231);
    font-weight: bold;
}
.intermediario{
    color: rgb(67, 187, 131);
}
.avancado{
    color: rgb(219, 38, 38);

}
.destaque{
    background-color: rgb(63, 201, 132);
}