@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #FAFBFC;
    color: #2E2E2E;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: #0D1B2A;
    color: #FAFBFC;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 100px;
  }

header > h1 {
    /*border: 1 px dotted black; */
    flex: 0 0 400px;
    font-size:20px;
    text-shadow: 2px 2px 0px black;
}

header > nav {
    /* border: 1px dotted black;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a{
    background-color: #0D1B2A;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

header > nav > a:hover{
    background-color: #1d3d5f ;
    color: white;
    transition: background-color .10s;
}
main {
    background-color: rgba(131, 175, 223, 0.75);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
}

main, h2 {
    color: #1B4965;
    padding-bottom: 20px;
}

main > p {
    padding-bottom: 20px;
    color: black;
}
