@charset "UFT-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to right,#FEECA2, #D8B2D3, #FBC8A8);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15x #23251e;
    width: 600px;
    padding: 10px;
    margin: auto;

}
h1{
    color: #f0cf4b;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2{
    color:#db8ed1;
}
p{
    text-align: justify;
}
