    @charset "UTF-8";

    body{
        background-color:bisque;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        }
    h1{
        color: blue;
        background-color:aqua;
        }
    h2{
        color: blueviolet ;
        }
    p{
        text-align: justify;
        }